<app-content-card title="Anmeldung">
    <div class="signup-content">
        <img class="signup-image" src="/assets/logo.svg" alt="Icon">
        <div class="card-body main-content">
            <div class="signup-input-group form-group">
                <h5 class="card-title">Informationen</h5>
                <input type="text" class="form-control" placeholder="Vorname">
                <input type="text" class="form-control" placeholder="Nachname">
                <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="signup-input-group form-group">
                <h5 class="card-title">Spieler</h5>
                <input type="text" class="form-control" placeholder="Spieler 1">
                <input type="text" class="form-control" placeholder="Spieler 2">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-secondary col-12">Spieler hinzufügen</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary col-12">Anmelden</button>
            </div>
        </div>
    </div>
</app-content-card>