html {
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

.navbar-icon {
    margin-right: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.content {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: white;
}

.content-container {
    padding: 10px;
}