html {
    font-family: 'Roboto', sans-serif;
}

.navbar-icon {
    margin-right: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.carousel-caption {
    background-color: rgba(33, 33, 33, 0.712);
}

.signup-content {
    display: flex;
    flex-direction: row;
}

#map-title {
    display: none;
}

.contact-sub {
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .signup-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-content {
        flex-direction: column;
    }
    
    .contact-sub {
        width: 100% !important;
    }
    
    #map-title {
        display: inline-block;
    }

    .teams-bottom {
        order: 0;
    }

    .teams-top {
        order: 1;
    }
}

.signup-input-group {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.signup-image {
    margin: 10px;
}

.main-content {
    width: 100%;
}

.contact-content {
    display: flex;
}

input, textarea, select, button {
    margin: 5px;
}

.card-img-bottom-team {
    color: #fff;
    height: 20rem;
    background: url(https://images0.minutemediacdn.com/production/912x516/58a33600a51a91605e000001.jpeg) center no-repeat;
    background-size: cover;
  }

  .card-img-bottom-team {
    color: #fff;
    height: 20rem;
    background-size: cover;
  }

.card-block {
    padding: 10px;
}

section {
    margin: 10px;
}

section .card {
    padding: 10px;
}



.row-team-detail {
    display: flex;
    flex-direction: row;
}

.row-game-detail {
    display: flex;
    flex-direction: row;
    padding: 10px;
}