html {
    font-family: 'Roboto', sans-serif;
}

.navbar-icon {
    margin-right: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.carousel-caption {
    background-color: rgba(33, 33, 33, 0.712);
}

.signup-content {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 700px) {
    .signup-content {
        flex-direction: column;
        align-items: center;
    }
}

.signup-input-group {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.signup-image {
    margin: 10px;
}